/*
 * Специальные "примиси" для удобства
 */
 
 /* User selection */
.user_select( @_opacity ) {
	-webkit-touch-callout: @_opacity;
	-webkit-user-select: @_opacity;
	-khtml-user-select: @_opacity;
	-moz-user-select: @_opacity;
	-ms-user-select: @_opacity;
	user-select: @_opacity;
}

/* Примись для установления кроссбраузерной прозрачности элементам */
.opacity (@_opacity) {
    @opacityPercentage = @_opacity * 100;
    opacity: @_opacity;     
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacityPercentage})";
    filter: ~"alpha(opacity = @{opacityPercentage})";    
}

/* Примись для наложения фильтра */
.grayscale (@_grayscale) {
    @grayscale = @_grayscale * 100%;
   	filter: grayscale(@grayscale);
	-webkit-filter: grayscale(@grayscale);
	-moz-filter: grayscale(@grayscale);
	-ms-filter: grayscale(@grayscale);
	-o-filter: grayscale(@grayscale);   
}

/* Примись установки прозрасного фона элемента */
.colorize_bg(@color: @white, @alpha: 1) {
	background-color: @color;
	background-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
	-webkit-animation: @name @duration @delay @ease;
	-moz-animation:    @name @duration @delay @ease;
	-ms-animation:     @name @duration @delay @ease;
}

.transition (@transition) {
	transition:@transition;
	-ms-transition:     @transition;
	-webkit-transition: @transition;  
	-moz-transition:    @transition;	 
	-o-transition:      @transition;  
}
.transform(@string){
	transform:@string;
	-ms-transform: 		 @string;
	-webkit-transform: @string;
	-moz-transform: 	 @string;	
	-o-transform: 		 @string;
}
.scale (@factor) {
	transform:scale(@factor);
	-webkit-transform: scale(@factor);
	-moz-transform: 	 scale(@factor);
	-ms-transform: 		 scale(@factor);
	-o-transform: 		 scale(@factor);
}
.rotate (@deg) {
	transform:rotate(@deg);
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}
.skew (@deg, @deg2) {
	-webkit-transform:       skew(@deg, @deg2);
	-moz-transform: 	 skew(@deg, @deg2);
	-ms-transform: 		 skew(@deg, @deg2);
	-o-transform: 		 skew(@deg, @deg2);
}
.translate (@x, @y:0) {
	-webkit-transform:       translate(@x, @y);
	-moz-transform: 	 translate(@x, @y);
	-ms-transform: 		 translate(@x, @y);
	-o-transform: 		 translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
	-webkit-transform:       translate3d(@x, @y, @z);
	-moz-transform: 	 translate3d(@x, @y, @z);
	-ms-transform: 		 translate3d(@x, @y, @z);
	-o-transform: 		 translate3d(@x, @y, @z);
}
.perspective (@value: 1000) {
	-webkit-perspective: 	@value;
	-moz-perspective: 	@value;
	-ms-perspective: 	@value;
	perspective: 		@value;
}
.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	-moz-transform-origin:    @x @y;
	-ms-transform-origin:     @x @y;
	-o-transform-origin:      @x @y;
}